/********** BODY **********/
.main {
  width: 97vw;
  font-family: fantasy;
  background-color: black;
  padding-bottom: 4px;
}
/********** TITLE **********/

h1 {
  font-weight: 250;
  padding: 10px;
  text-align: center;
  background-color: #0099D8;
  color: white;
}

form {
  color: white;
  text-align: center;

}

/********** BUTTONS **********/
.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 15px;
}

button {
  height: 90px;
  width: 100px;
  margin: 8px 6px;
  border: 1px black solid;
  border-radius: 100%;
  background-color: white;
}

button:hover,
button:active {
  background-color: #FC980A;
  border: 1px #8F5315 solid;

}


/********** IMG **********/
img {
  width: 30%;
  float: left;
  vertical-align: middle;
}


/********** FOOTER **********/
p {
  text-align: center;
  color: black;
  background-color: white;

}